<h1>Welcome to Angular</h1>
<p>Angular is a platform for building mobile and desktop web applications.</p>
<app-card
  [data]="techNames"
  title="Card Title"
  content="Card Content"
></app-card>
<mat-form-field class="example-full-width">
  <mat-label>Add Item</mat-label>
  <input matInput placeholder="value" [(ngModel)]="value" />
</mat-form-field>
<div class="content">
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="onAddItem()"
  >
    add Item
  </button>
  <button
    class="button"
    mat-raised-button
    color="primary"
    [routerLink]="['/about']"
  >
    Continue to About page
  </button>
</div>
